@font-face {
  font-family: 'Pixel';
  src: url('../fonts/3997-font.otf') format('opentype');
}

.backgroundLR {
  background-image: url('../images/lrbg.gif');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.log-in-container {
  width: 350px;
  height: 250px;
  background-color: rgb(16, 16, 16);
  line-height: 5px;
  text-align: center;
  font-family: 'Pixel';
  font-size: 40px;
  line-height: 25px;
  border: 33px solid;
  border-radius: 50px;
  border-image: url(https://imgur.com/U7m9WXl.png) 33 round;
}

.LR-letters{
  color: rgb(228, 228, 228);
}

.ER-letters{
  color: rgb(228, 228, 228);
  font-size: 20px;
}

.purple-icon{
  color:magenta;
}

.LR-submit{
  font-family: "Pixel";
}

.input-style{
  background-color: rgb(16, 16, 16);
  color: rgb(228, 228, 228);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
}