.qstn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 1300px;
  background-color: rgb(16, 16, 16);
  font-family: 'Pixel';
  font-size: 30px;
  color: rgb(228, 228, 228);
  line-height: 25px;
  border: 25px solid;
  border-radius: 50px;
  border-image: url(https://imgur.com/U7m9WXl.png) 33 round;
  padding: 10px;
}

.radio-test {
  font-family: 'Arial';
  color: rgb(228, 228, 228);
  font-size: 20px;
}

.quiz-container {
  font-family: 'Pixel';
  font-size: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.quiz-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 1500px;
  background-color: rgb(16, 16, 16);
  font-family: 'Pixel';
  font-size: 70px;
  color: rgb(228, 228, 228);
  line-height: 25px;
  border: 33px solid;
  border-radius: 50px;
  border-image: url(https://imgur.com/U7m9WXl.png) 33 round;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.quiz-button{
  color: #101010;
  background-color: #ee4542;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}

.quiz-button:hover{
  cursor: pointer;
}